* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    /* padding: 0 5vw; */
    background: #000000eb;
    color: whitesmoke;

}

html{
    scroll-behavior: smooth;
}

a{
    color: #f0f8ffc6;
    text-decoration: none;
}

.logo {
    font-size: 1.9rem;
    font-family: 'Playfair Display';
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

.nav-links {
    display: flex;
    font-family: 'Space Grotest';
}

.nav-link {
    list-style: none;
    padding: 10px;
    text-align: center;
    color: #f0f8ffc6;
}

.nav-link:hover {
    color: aliceblue;
    cursor: pointer;
}

.section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5rem 3rem
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 70vh;
}

.sub {
    color: #f0f8ff74;
    padding: 5px;
    font-size: 0.9rem;
    border: 1px solid #f0f8ff74;
    border-radius: 40px;
    width: max-content;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.header {
    font-size: 4rem;
    letter-spacing: -1;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.khan {
    font-style: italic;
    font-family: 'Playfair Display', serif;
    color: transparent;
    -webkit-text-stroke: 1px rgba(240, 237, 232, 0.6);
    font-size: 4rem;
    margin-top: -35px;
}

.para {
    font-style: 'san serif';
    color: #f0f8ffba;
    margin: 10px 0px;
}

.cta {
    display: flex;
    flex: column;
}

.cta>a>button {
    padding: 10px;
    margin-right: 10px;
    background-color: #0000006a;
    border: 1px solid rgba(240, 248, 255, 0.607);
    border-radius: 4px;
    color: white;
}



.cta button:hover {
    background-color: rgba(128, 128, 128, 0.574)
}

.cta .view-btn {
    background-color: white;
    color: black;
}
.view-btn>a{
color: black;
}
.marquee-container {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 0;
    border-top: 1px solid #f0f8ff74;
    border-bottom: 1px solid #f0f8ff74;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.marquee-text {
    display: flex;
    gap: 2rem;
    animation: scroll 20s linear infinite;
    white-space: nowrap;
}

.marquee-text span {
    font-size: 0.75rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #f0ede840;
}

.dot {
    color: rgba(240, 237, 232, 0.15);
    margin-left: 2rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.pro-header {
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(240, 237, 232, 0.3);
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pro-header::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: rgba(240, 237, 232, 0.8);
}

.projects {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 5px;
}

.featured {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    max-height: max-content;
}

.feat {
    background-color: #2c2b2bcd;
    font-size: 0.80rem;
    padding: 5px;
    width: fit-content;
    font-weight: 100;
    letter-spacing: 3px;
    color: #f0ede864;
}

.featured>.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.feat-img {
    width: 60%;
    margin-left: 10px;
}

.pro-cards {
    background-color: #0c0c0c;
    padding: 5%;
    max-height: 400px;
    border: 1px solid black;
}

.pro-cards:hover {
    background-color: #00000075;
}

.num {
    margin: 20px 0px;
    color: #2c2b2bcd;
}

.pro-name {
    margin-bottom: 20px;
    font-family: serif;
    font-size: 2rem;
}

.pro-detail {
    margin-bottom: 20px;
    color: #8d8a8ad6;
}

.tags {
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.tag {
    background-color: transparent;
    border: 1px solid #7a777770;
    padding: 9px;
    font-size: 0.85rem;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.797);
}

.tag:hover {
    border: 1px solid white;
}

.skill {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
}

.skill-head {
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(240, 237, 232, 0.3);
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.skill-head::after {
    content: "";
    height: 1px;
    flex: 1;
    background: #7a777770;
}

.skill-tag>.tag {
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 2px;

}

.footer {
    padding-bottom: 0;
    padding-top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    border-top: 1px solid #8b8686a8;
}

.social-list {
    display: flex;
    gap: 1rem;
    color: #8b8686a8;
}

.social-items {
    list-style: none;
    font-size: .90rem;

}

.social-items:hover {
    color: white;
    cursor: pointer;
}

.copyright {
    color: #8b8686a8;
}